*{
    margin:0px;
    padding:0px;
}

body{
    background-image: url(forest.jpg);
    background-attachment: fixed;
    position: center;
    background-size:cover;
    font-family: Poppins,sans-serif;
}

.world{
    font-size: 38px;
    padding:20px;
    margin: 5px;
    font-weight: 700;
    float: left;
    color:#fff;
}

header .menu{
float:right;
margin:5px;
padding: 20px;
}

header ul li{
    display: inline-block;

}

header ul li a{
    color:white;
    text-decoration: none;
    font-size: 12px;
    padding: 20px;
    letter-spacing: 1px;
    margin: 5px;
    font-weight: 700;
}

.content{
    color:#fff;
    font-size: 13px;
    font-weight: 700;
    padding: 20px;
    margin: 5px;
}

span{
   
    font-size: 115px;
   
}

.btn .color1{
    background-color: lightcoral;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding:20px 60px;
    margin: 25px;
    border-radius: 50px;
    color: #fff;

}

.btn .color2{
    background-color: lightcoral;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding:20px 60px;
    margin: 2px;
    border-radius: 50px;
    color: #fff;

}

header ul li a:hover{
    color: yellow;
    transition: 0.6s;
}

.btn .color1:hover{
    background-color: transparent;
    border:1px solid orange;
    transition: 0.9s;
}

.btn .color2:hover{
    background-color: transparent;
    border:1px solid white;
    transition: 0.9s;
}

.about{
    color: #fff;
    text-align:justify;
    font-size: 30px;
    font-weight: 700;
}

p{
    text-align:justify;
    color: #fff;
    font-weight: 500;
    font-size: 15px;

}

.new{
    background-image: url(forest1.jpg);
background-attachment: fixed;
background-position: center;
background-size: cover;
width: 1700px;
height: 400px;
}

.more .color3{
    background-color: lightcoral;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    padding:20px 60px;
    margin: 2px;
    border-radius: 50px;
    color: #fff;
    margin: 550px;
}

.more .color3:hover{
    background-color: transparent;
    border:1px solid coral;
    transition: 0.9s;
}